########################## VPN URLS ############################
admin_url = "${admin_url}"
client_url = "${client_url}"
credential username: ${username} ; password: ${password}
################################################################
